<% content_for :title, "Young Researcher Questions" %>

<p id="notice"><%= notice %></p>

<h1 id="page_title">Questions</h1>

<div id="posts_wrapper" class="skinny_wrapper wrapper_padding">
  <div class="post">
    <% @questions.each do |question| %>
      <h2><%= link_to question.title, question %></h2>
      <p class="date"><%= question.created_at.strftime("%A, %B %d") %></p>
      <hr>
    <% end %>
  </div>
</div>
<div id="admin_links">
	<% if user_signed_in? %>
		<%= link_to 'New Question', new_question_path %>
	<% end %>
</div>
<%= will_paginate @questions %>
