<% content_for :title, @poem.title %>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @poem.created_at.strftime('%A, %B %d') %></p>
		<h1><%= @poem.title %></h1>
		<hr>
	</header>

	<div id="content">
		<%= markdown @poem.content %>
	</div>

	
		<div id="admin_links">
		<% if user_signed_in? %>
			<%= link_to "Edit Article", edit_poem_path(@poem) %>
			<%= link_to "Delete Article", poem_path(@poem), method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
		<%= link_to 'Back', poems_path %>
		</div>
	

	<hr>

	<div id="share_box">
		<p>Share <%= @poem.title %></p>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-vk"></i></a>
	</div>

	<hr>

	<%= render 'disqus' %>

</div>