<p id="notice"><%= notice %></p>

<h1>Clarifies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clarifies.each do |clarify| %>
      <tr>
        <td><%= clarify.title %></td>
        <td><%= clarify.content %></td>
        <td><%= link_to 'Show', clarify %></td>
        <td><%= link_to 'Edit', edit_clarify_path(clarify) %></td>
        <td><%= link_to 'Destroy', clarify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clarify', new_clarify_path %>
