<p id="notice"><%= notice %></p>

<h1 id="page_title">Clarifies</h1>

<div id="posts_wrapper" class="skinny_wrapper wrapper_padding">
  <div class="post">
    <% @clarifies.each do |clarify| %>
      <h2><%= link_to clarify.title, clarify %></h2>
      <p class="date"><%= clarify.created_at.strftime("%A, %B %d") %></p>
      <hr>
    <% end %>
  </div>
</div>
<%= link_to 'New Clarify', new_clarify_path %>
<%= will_paginate @clarifies %>
