<% content_for :title, @explore.title %>

<p id="notice"><%= notice %></p>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @explore.created_at.strftime('%m %B, %Y') %></p>
		<h1><%= @explore.title %></h1>
		<hr>
	</header>

	<div id="content">
		<%= markdown @explore.content %>
	</div>

	
		<div id="admin_links">
		<%= link_to 'Back', explores_path %>
		<% if user_signed_in? %>
			<%= link_to "Edit Article", edit_explore_path(@explore) %>
			<%= link_to "Delete Article", explore_path(@explore), method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>	
		</div>
	

	<hr> 
	

	<div id="share_box">
		<p>Share <%= @explore.title %></p>
		<a onclick="window.open('http://twitter.com/share?text=<%= @explore.title %> on @youngresearch_. Follow the link to Explore: &amp;<%= url_for(@explore) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
		<a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= url_for(@explore) %>', '_blank', 'width=800, height=500, top=200, left=300'); void(0);"><i class="fa fa-facebook"></i></a>
		<a href="http://vk.com/share.php?url=<%= url_for(@explore) %>" target="_blank"><i class="fa fa-vk"></i></a>
	</div>

	<hr>

	<%= render 'disqus' %>


</div>